//cores
$default_color: #d9704b;


$text_white: #FFFFFF;
$text_grey: #373435;
$text_green: #99c674;


$grey-light-background: #f4f6f8;
$grey-background: #e6e9ee;

$input-border-color: #d9d9d9;

$green-background: #defde9;

$list-color: #beb9b0;