@import '../utils/variaveis.scss';

.blog-integra-container {
    width: 100%;
    background: $grey-light-background;
    padding: 50px 20px;
    .blog-integra-content {
        padding: 50px 100px;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        background: $text_white;
        > span, h1 {
            text-align: center;
            display: block;
        }
        > span {
            font-family: 'Arial', sans-serif;
            font-size: 0.8rem;
            color: $default_color;
        }
        h1 {
            font-size: 1.9rem;
            font-weight: normal;
            @media(max-width: 1170px){
                line-height: 2.2rem;
                margin-top: 10px;
            }
        }
        .blog-integra-social {
            text-align: center;
            margin: 30px 0;
            
            >:first-child {
                margin-right: 10px;
            }
            a {
                & + a {
                    margin-left: 10px;
                }
                border-radius: 50%;
            }
        }
        > img {
            max-width: 100%;
            max-height: 500px;
            width: 100%;
            object-fit: cover;
        }

        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
            margin: 30px 0;
        }

        h2 {
            font-weight: normal;
            letter-spacing: 0.75px;

            > span {
                color: $default_color;
                
            }
        }
        @media(max-width: 1170px){
            padding: 40px 60px;
        }
        @media(max-width: 768px){
            padding: 20px 15px;
        }
    }
    @media(max-width: 550px){
        padding: 30px 0px;
    }
}

.integra-leia_mais-container {
    background: $grey-light-background;
    width: 100%;
    padding: 0 10px 30px;
    .integra-leia_mais-content {
        max-width: 1170px;
        margin: 0 auto;
        h2 {
            color: $default_color;
            font-weight: 300;
            font-size: 1.75rem;
            letter-spacing: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            > img {
                margin-right: 10px;
            }
            @media(max-width: 768px){
                > img {
                    width: 20px;
                }
            }
        }

        .integra-leia_mais-relacionados {
            display: flex;
            justify-content: space-between; 
            @media(max-width: 768px){
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 40px;
                
                .integra-leia_mais-post {
                    width:200px;
                    margin: 0 auto;
                }
            }
            @media(max-width: 550px){
                grid-template-columns: 1fr;
                grid-gap: 20px;
                .integra-leia_mais-post {
                    padding: 0px 0;
                }
            }
        }

        .integra-leia_mais-post {
            display: block;
            width: 20%;
            text-align: center;
            padding: 30px 0;

            &:hover {
                span {
                    background-color: $default_color;
                }
                h3 {
                    
                    &::after {
                        border-color: $default_color;
                    }
                }
                img {
                    filter: brightness(0.8);
                }
            }
            
            > img {
                width: 100%;
                object-fit: contain;
                transition: filter 0.3s;
                @media(max-width: 768px){
                    width: 200px;
                }
                
            }
            h3 {
                line-height: normal;
                position: relative;
                letter-spacing: 1px;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 20px;
                padding-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                &::after {
                    content: '';
                    position: absolute;
                    width: 3rem;
                    border-bottom: 1px solid transparent;
                    bottom: 0;
                    transition: border-color 0.3s;
                }
                @media(max-width: 768px){
                    font-size: 1.3rem;
                    margin-top: 10px;
                }
                
            }

            > span {
                position: relative;
                max-width: 25px;
                max-height: 25px;
                background: #000;
                font-size: 1.7rem;
                margin: 0 auto 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $text_white;
                border-radius: 50%;
                transition: background-color 0.3s;
            }
        }
    }
}