@import '../utils/variaveis.scss';

.fotos-container {
    width: 100%;
    background: $grey-light-background;
    padding: 40px 10px;
    .fotos-content {
        max-width: 1170px;
        margin: 0 auto;
        h1 {
            position: relative;
            padding-bottom: 20px;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 4rem;
                border-bottom: 3px solid $default_color;
            }
        }

        .fotos-grid {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            div {
                position: relative;
                cursor: pointer;
                height: 370px;
                display: flex;
                flex: 1;
                
                .fotos-grid-normal, .fotos-grid-maior {
                    flex: 1;            
                }
    
                .fotos-grid-maior, .fotos-grid-normal {
                    &:hover ~ .ampliar-imagem {
                        opacity: 1;
                    }
                }

                .ampliar-imagem {
                    opacity: 0;

                    transition: opacity 0.3s;
                
                    position: absolute;
                    width: fit-content;
                    top: 0;
                    
                    background: rgba(0,0,0,0.7);
                
                    height:100%;
                    width: 100%;
                    
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                
                    h2 {
                        color: $text_white;
                        font-size: 1.5rem;
                        letter-spacing: 4px;
                        font-weight: 300;
                        margin-bottom: 10px;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
    
                
            }
            @media(max-width: 1170px){
                display: none;
            }
        }
    }
}

//slider
.fotos-slider {
    display: none;

    width: 100%;
    margin: 30px 0;

    @media(max-width: 1170px){
        display: flex;
        
    }
    .slick-track {
        > a > img {
            height: fit-content;
            object-fit: cover;
            width: 100%;
            max-height: 370px;
            cursor: pointer;
            @media(max-width: 768px){
                max-height: 300px;
            }
        }
    }
}

//botoes do slider
.fotos-slider-buttons {
    display: none;
    text-align: center;
    margin-top: -30px;

    @media(max-width: 1170px){
        display: block; 
    }
    #estrutura-buttons-next, #estrutura-buttons-prev {
        position: relative;
        z-index: 3;
        border: unset;
        background: $default_color;
        padding: 15px 25px;
        transition: background-color 0.2s;
        &:hover {
            background: $text_grey;
        }
        @media(max-width: 990px){
            padding: 10px 17.5px;
        }
        @media(max-width: 550px){
            padding: 7.5px 12.5px;
        }
    }
    #estrutura-buttons-prev::after {
        content: '';
        position: absolute;
        z-index: 0;
        
        top: 0%;
        right: -14px;
    
        background: $default_color;
        width: 15px;
        height: 100%;
    }
    
    #estrutura-buttons-next::before {
        content: '';
        position: absolute;
        z-index: 0;
    
        top: 25%;
        left: -5%;
        width: 10%;
        height: 50%;
        border-left: 1px solid $text_white;
    }
    
    .slick-arrow {
        background: $default_color;
        border-radius: unset;
        
    }
}








