@import '../utils/variaveis.scss';

.carousel {
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  width: 100%;
  margin-top: -40px;

  @media(max-width: 1170px){
    margin-top: unset;
  }

  .main-carousel-slides {
      background: url('../img/main-slider/slider.png') no-repeat;
      background-size: cover;
      height: 690px;
      .slide-content {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        color: $text_white;
        padding-top: 175px;
        padding-left: 10px;
        padding-right: 10px;

        span, a {
          font-size: 1.5rem;
          letter-spacing: 2px;
          font-weight: 300;
        }

        h1 {
          font-size: 3.75rem;
          letter-spacing: 6px;
          margin: 30px 0 60px 0;
        }

        a {
          font-weight: bold;
          padding: 2rem 1.5rem;
          position: relative;
          z-index: 2;

          transition: color 0.2s;
          &:hover {
            color: $default_color;
          }

          &::after, &::before {
            content: '';
            position: absolute;
            z-index: 1;
            
            width: 140px;
            height: 60px;
          }

          &::after {
            left: 0;
            bottom: 0;
            background: url('../img/bordas/border-left.png') no-repeat;
          }
          &::before {
            top: 0;
            right: 0;
            background: url('../img/bordas/border-right.png') no-repeat;
            
          }
        }
      }
  }

  .slick-dots {
      display: flex;
      position: absolute;
      left: 50%;
      bottom: 5%;

      li {
          width: 15px;
          height: 15px;
          border: 2px solid white;
          background: transparent;
          
          & + li {
            margin: 0 10px;
          }
          &.slick-active {
            background: $text_white;
          }
          button {
            padding: 0;
            width: 15px;
            height: 15px;
            &::before {
              display: none;
            }
          }
        }
  }
}

.acomodacoes {
  margin-top: -30px;
  background-color: $grey-light-background;
  h1 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 2.25rem;
    padding-top: 100px;
    margin-bottom: 100px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 49%;

      width: 3.5rem;
      border-bottom: 1px solid $default_color;
    }
  }

  
  .acomodacoes-container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;   

    @media(max-width: 1170px){
      flex-direction: column;
    }

    
    .acomodacoes-content {
      width: 100%;
      height: 600px;
      max-width: 360px;
      background-color: $grey-background;

      @media(max-width: 1170px){
        margin: 20px auto;

      }

      .acomodacoes-info {
        position: relative;
        z-index: 2;
        background-color: $text_white;
        min-height: 340px;
        max-width: 300px;
        width: 100%;
        margin: -120px auto;
        padding: 50px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        

        h2, p, a {
          text-align: center;
        }
        h2 {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          transition: color 0.2s;
          
          &::after {
            content: '';
            margin-top: 10px;
            width: 50px;
            border-bottom: 1px solid $default_color;
          }
        }
        p {
          font-size: 0.9rem;
          line-height: 1.5rem;
          font-family: 'Arial', sans-serif;
        }

        &:hover {
          border: 3px solid $default_color;
          h2 {
            color: $default_color;
          }
        }
        
      }
    }
  }
  .acomodacoes-moreinfo {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    padding-bottom: 80px;
  }
}

.conheca-estrutura-container {
  width: 100%;
  background: $text_white;
  margin-bottom: 30px;

  .conheca-estrutura-content {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    .apresentacao-container {
    
      display: flex;
      margin-top: 50px;
      margin-bottom: 40px;
  
      .conheca-estrutura-apresentacao {
        color: $text_grey;
        margin-top: 40px;
  
        span {
          font-size: 1.25rem;
          letter-spacing: 4px;
          font-weight: 300;
          width: 100%;
  
          position: relative;
          img {
            position: absolute;
            top: 50%;
            right: -70%;
          }
        }
  
        > h1 {
          font-size: 35px;
          letter-spacing: 2px;
          position: relative;
        }
  
        > p {
          font-size: 0.875rem;
          font-family: "Arial", sans-serif;
          margin: 50px 0 70px 0;
          line-height: 24px;
        }
      }
    }
  }

  .conheca-estrutura-fotos {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      position: relative;

      .estrutura-moreinfo {
        background: rgba(0,0,0,0.7);
        position: absolute;
        top: 0;
        left: 60px;
        width: 350px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        color: $text_white;

      }

      .estrutura-buttons {
        position: absolute;
        bottom: -5%;
        right: 20%;
        background: $text_white;
        padding: 15px;

        .estrutura-buttons-next, .estrutura-buttons-prev {
          border: unset;
          background: $default_color;
          padding: 20px 30px;
        }
      }

    .estrutura-moreinfo-titulo {
      font-size: 24px;
      letter-spacing: 5px;
      font-weight: 300;

      margin-bottom: 20px;
      display: block;
    }

    //slider
    .estrutura-slider {
      .slick-arrow {
        background: $default_color;
        border-radius: unset;
      }
    }
  }
}



.fale-conosco {
  padding: 50px 0 150px 0;
  width: 100%;
  background: url('../img/fale-conosco/secretaria.png') no-repeat;
  background-position: right;
  background-size: contain;

  .fale-conosco-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    .fale-conosco-header {
      color: $text_grey;
      margin-bottom: 50px;
      span {
        font-size: 20px;
        letter-spacing: 4px;
      }
      h1 {
        font-size: 35px;
        letter-spacing: 2px;
        position: relative;
      }
    }

    .fale-conosco-contato {
      display: flex;
      justify-content: space-around;
      border: 3px solid $default_color;
      background-color: rgba(255, 255, 255, 0.8);

      padding: 60px 40px;

      -webkit-box-shadow: 0px 0px 25px -11px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 25px -11px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 25px -11px rgba(0,0,0,0.75);

      font-family: "Arial", sans-serif;
      color: $text_grey;

      .contato-imagem {
        background-color: $default_color;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
      }

      .contato-info {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        
        .contato-atendimento-whatsapp {
          font-weight: bold;
          color: $default_color;
          font-size: 14px;
          font-family: "Arial";
          display: block;
          margin-top: 10px;

          display: flex;
          align-items: center;
          >img {
            margin-right: 10px;
          }
        }
      }

      .contato-atendimento, .contato-endereco, .contato-funcionamento {
        display: flex;
        
        h2 {
          color: $default_color;
          font-size: 20px;
          margin-bottom: 10px;
        }
        span, p {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

  }
}