@import '../utils/variaveis.scss';

.fale-conosco-contato {
    display: flex;
    justify-content: space-around;
    border: 3px solid $default_color;
    background-color: rgba(255, 255, 255, 0.8);

    padding: 60px 40px;

    -webkit-box-shadow: 0px 0px 25px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -11px rgba(0,0,0,0.75);

    font-family: "Arial", sans-serif;
    color: $text_grey;

    @media(max-width: 1170px){
      flex-direction: column;
      justify-content: center;
      max-width: 80%;
      margin: 0 auto;
      padding: 30px 20px;
    }

    @media(max-width: 550px){
      max-width: 90%;
    }

    .contato-imagem {
      background-color: $default_color;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 25px;
      @media(max-width: 550px){
        min-width: 50px;
        min-height: 50px;
      }
    }

    .contato-info {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      
      .contato-atendimento-whatsapp {
        font-weight: bold;
        color: $default_color;
        font-size: 14px;
        font-family: "Arial";
        display: block;
        margin-top: 10px;

        display: flex;
        align-items: center;
        >img {
          margin-right: 10px;
        }
      }
    }

    .contato-atendimento, .contato-endereco, .contato-funcionamento {
      display: flex;

      @media(max-width: 1170px){
        margin-top: 20px;
      }

      @media(max-width: 550px){
        justify-content: flex-start;
        margin: 20px 0;
        .contato-imagem {
          margin-right: 10px;
        }
      }
      
      h2 {
        color: $default_color;
        font-size: 1.2rem; 
        margin-bottom: 10px;
      } 
      a, p, span {
        font-size: 0.9rem;
        line-height: 18px;
        padding: 0.2rem;
        transition: transform 0.2s;
      }

      a:hover {
        transform: translateX(10px);
      }
    }
  }