@import '../utils/variaveis.scss';

.header {
    background: $default_color;
    width: 100%;
}

.content-header {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;

    .header-address {
        color: $text_white;

        display: flex;
        justify-content: space-between;

        padding: 10px;

        > a {
            display: flex;
            align-items: center;
            font-family: 'Arial', sans-serif;
            font-size: 12px;
            img {
                margin-right: 10px;
            }
            transition: transform 0.2s; 
            &:hover {
                transform: translateX(10px);
            }
        }
    }

    .header-address-contato {
        display: flex;
        position: relative;

        

        >:nth-child(n) {
            margin: 0 2.5px;
        }

        #logo-face {
            transition: filter 0.2s;
            &:hover {
                filter: brightness(0.9); 
            } 
        }

        #logo-insta {
            position: absolute;
            left: 63%;
            bottom: 15%;
            transition: filter 0.2s; 

            &:hover {
                filter: brightness(0.9); 
            } 
        }
    }

}

.header-menu {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1170px;

    display: flex;
    justify-content: space-between;

    @media(max-width: 1170px){
        flex-direction: column;
    }

    #header-menu-button {
        background: transparent;
        border: none;
        border-top: 5px solid $default_color;
        border-bottom: 5px solid $default_color;
        border-radius: 2px;

        position: relative;

        padding: 5px;


        width: 2rem;
        height: 4px;

        margin: 10px auto 20px auto;
        
        @media(min-width: 1170px){
            display: none;
        }
    }

    

    .apresentacao, .reserva {
        width: 100%;

        display: flex;
        flex-direction: column;

        transition: display 0.3s;

        @media(max-width: 1170px){
            display: none;
        }


        .menu-items1, .menu-items2 {
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: unset;
            margin-top: 25px;

            a {
                transition: color 0.2s;
            }
            a:hover {
                color: $default_color;
            }

            @media(max-width: 1170px){
                margin: unset;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                li, a {
                    padding: 10px;
                }
            }

        }

        
        .menu-contato {
            justify-content: flex-start;
            transition: transform 0.2s;
            &:hover {
                transform: translateX(10px);
            }        
        }
        .menu-reserva {
            justify-content: flex-end;
        }

        .menu-contato, .menu-reserva {
            font-family: 'Arial', sans-serif;
            font-weight: bold;

            height: 50%;
            display: flex;
            align-items: center;
            @media(max-width: 1170px){
                margin-top: 0;
                justify-content: center;
            }
        }
    }

    #header-logo {
        margin-top: -75px;
        position: relative;
        z-index: 2;

        @media(max-width: 1170px){
            display: none;
        }
    }

    #header-logo-collapse {
        max-width: 100%;
        margin: 0 auto;
        margin-top:  -35px;
        display: block;
        transition: transform 0.2s; 

        &:hover {
            transform: scale(1.1); 
        }
    }

    #link-logo-collapse {
        display: none;
        margin: 0 auto; 
        
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        img {
            max-width: 55%;
        }
        @media(max-width: 1170px){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
    }

    .header-logo-contato {
        transition: transform 0.2s; 

        &:hover {
            transform: translateY(-10px);
        }
    }
}

//botao faça reserva 
.faca-reserva {
    background: $default_color;
    color: $text_white;
    padding: 10px 0;
    max-width: 200px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1);
    }

    > img {
        margin-right: 10px;
    }

    @media(max-width: 1170px){
        padding: 10px 0; 
        margin-top: 20px;
    }
}

.display-none-1170 {
    @media(max-width: 1170px){
        display: none;
    }
}