.whats-flutuante {
    position: fixed;
    right: 0px;
    top: 50%;
    opacity: .7;
    @media(max-width: 1070px){
        right: -30px;
        img {
            width: 60%;
            height: 60%;
        }
    }
    
}