.whats-flutuante {
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #88c671;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    
    transition: transform .2s;

    > img {
        border-radius: 50%;
        width: 70%;
        height: 70%;
    }
    &:hover {
        transform: scale(1.1);
    }
    @media(max-width: 1070px){
        width: 40px;
        height: 40px;
        > img {
            width: 80%;
            height: 80%;
        }
    }
    
}